{% include 'navigation.html'%}
{% load static %}



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rides N Treks</title>
<link rel="shortcut icon" type="image/png" href="{% static './images/favicon.ico' %}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css" integrity="sha512-R+xPS2VPCAFvLRy+I4PgbwkWjw1z5B5gNDYgJN5LfzV4gGNeRQyVrY7Uk59rX+c8tzz63j8DeZPLqmXvBxj8pA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500&display=swap"
  rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
      integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'index.css' %}">

<link rel="stylesheet" href="{% static 'mediaquery.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">


  
 <header>
 <h1 class="heading1">Tour around the world <br>with new destination</h1>
 <h2 class="heading2">Discover places</h2>
 



</header>
<button class="search"><a href="{% url 'alltours'%}">
  Explore now
</a> </button>
 <section class="sliders">

  <h1>Explore places around the world</h1><div class="slider-controls"><span class="prevSlide"><i class="fa fa-long-arrow-left"></i></span><span class="nextSlide"><i class="fa fa-2x fa-long-arrow-right"></i></span></div>
  <div class="slider-wrapper">
    <ul class="item-slider">
      
      
      
      <a class="panda" href="{% url 'spititours'%}" >
        <img src="{%static './images/bg2.jpg'%}"/>
        
      <h2>Spiti tours</h2>
      </a>
      
      <a class="panda" href="{% url 'lehtours'%}" >
        <img src="{%static './images/header.png'%}"/>
        
      <h2>Leh tours</h2>
      </a>
      
      <a class="panda" href="{% url 'himachaltours'%}" >
        <img src="{%static './images/bg2.jpg'%}"/>
        
      <h2>Himachal tours</h2>
      </a>
      
      <a class="panda" href="{% url 'bhutantours'%}" >
        <img src="{%static './images/header.png'%}"/>
        
      <h2>Bhutan tours</h2>
      </a>
      <a class="panda" href="{% url 'dubaitours'%}" >
        <img src="{%static './images/bg2.jpg'%}"/>
        
      <h2>Dubai tours</h2>
      </a><a class="panda" href="{% url 'kashmirtours'%}" >
        <img src="{%static './images/bg2.jpg'%}"/>
        
      <h2>Kashmir tours</h2>
      </a>
      <a class="panda" href="{% url 'sikkimtours'%}" >
        <img src="{%static './images/bg2.jpg'%}"/>
        
      <h2>Sikkim tours</h2>
      </a>
      <a class="panda" href="{% url 'meghalayatours'%}" >
        <img src="{%static './images/bg2.jpg'%}"/>
        
      <h2>Meghalaya tours</h2>
      </a>
    
      </ul>
      
  </div>
 

</section> 
<section class="boxes">
  <h1 class="section-heading">What can we offer you?</h1>
  <div class="row">
    <div class="details">
      
      <h3 class="detail-heading"> 20 YEARS EXPERIENCES</h3>
      <p class="detail-content">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated.
      </p>
  
    </div>
    <div class="details">
      
      <h3 class="detail-heading"> LOTS OF GEARS</h3>
      <p class="detail-content">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated.
      </p>
  
    </div>
    <div class="details">
  
      <h3 class="detail-heading"> MOST COMPLETED MAP</h3>
      <p class="detail-content">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated.
      </p>
  
    </div>
  
  
  </div>
  
  </section>
  <section class="wow slideInLeft">
    <div class="aboutus">
      <h1 class="section-heading2">About us</h1>
      <h3 class="section-subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam eligendi eaque doloribus harum blanditiis ullam incidunt quo? Hic voluptas nisi, necessitatibus nulla ratione, itaque consequatur qui omnis, voluptatum magni vitae.</h3>
      <img src="{% static './images/aboutus.jpg'%}" class="abtimg">

    </div>
  </section>
  <section class="sliders2">
 <button class="viewmore"><a href="{% url 'alltours'%}">View more</a> </button>
    <h1>Our popular tours</h1>
   
    <div class="slider-wrapper">
      <ul class="item-slider">
        
        
        {% for n in popularData%}
        <a class="panda" href="./index/{{n.id}}" >
          <img src="{{n.destination_image.url}}"/>
          
        <h2> {{n.destination}}</h2>
        </a>
      
        {%endfor%}
        </ul>
        
    </div>
   
  
  </section> 
  <section class="wow slideInRight">
    <div class="blogs">
      <h1 class="section-heading3">Trending Blogs</h1>
      <div class="row">
        <div class="details1">
          
          <h3 class="detail-heading"> 20 YEARS EXPERIENCES</h3>
          <p class="detail-content">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated.
          </p>
      
        </div>
        <div class="details2">
          
          <h3 class="detail-heading"> LOTS OF GEARS</h3>
          <p class="detail-content">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated.
          </p>
      
        </div>
        <div class="details2">
      
          <h3 class="detail-heading"> MOST COMPLETED MAP</h3>
          <p class="detail-content">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated.
          </p>
      
        </div>
      
      
      </div>
      

    </div>
  </section>
<a href="https://wa.me/919953741008" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

<footer class="footer theme-bg-primary " id="foot">
  <div class="container py-5 mb-3 col-md-offset-2">
   <div class="row" style="margin-left: 20px">
     <div class="footer-col col-lg-3 contact-info">
       <h4 class="col-heading">CONTACT INFO
       </h4>
       <ul class="contacts">
          <li class="call">
              <a href="tel:+918595864155" class="phone">
                  <i class="fa fa-phone fa icon"> </i>8595864155 
                </a>
             
          </li>
          <li class="email">
              <a href="mailto:Mountmonksadv@gmail.com" class="mail">
                  <i class="fa fa-envelope fa icon"> </i>Mountmonksadv@gmail.com
                </a>
             
          </li>
       </ul>
       <ul class="social-list">
         <li class="list-inline-item">
           <a href="www.Instagram.com/Mountmonks">
             <i class="fa fa-instagram fa-2x icons"></i>
           </a>
 
         </li>
         <li class="list-inline-item" >
           <a href="">
             <i class="fa fa-twitter fa-2x icons"></i>
           </a>
 
         </li>
         <li class="list-inline-item">
           <a href="">
             <i class="fa fa-facebook fa-2x icons"></i>
           </a>
 
         </li>
 
       </ul>
 
     </div>
     <div class="footer-col col-lg-3">
       <h4 class="col-heading">ABOUT US
       </h4>
       <ul>
         <li class="links" >
           <a href="{% url 'aboutus'%}" class="link-head">
            Our Story
           </a>
 
         </li>
         <li class="links">
           <a href="{% url 'blog'%}" class="link-head">
            Travel Blogs
           </a>
 
         </li>
         
        
       </ul>
 
     </div>
     
     <div class="footer-col col-lg-3">
       <h4 class="col-heading">SUPPORT
       </h4>
       <ul>
         <li class="links">
           <a href="https://wa.me/918595864155" class="link-head">
             Customer Support
           </a>
 
         </li>
         <li class="links">
           <a href="{% url 'privacy'%}"" class="link-head">
            Privacy & Policy
           </a>
 
         </li>
         <li class="links">
           <a href="{% url 'contactus'%}"" class="link-head">
             Contact Channels
           </a>
 
         </li>
        
       </ul>
 
     </div>
     <div class="footer-col col-lg-3">
       <h4 class="col-heading">PAY SAFELY WITH US
       </h4>
       
       <p class="about-us-para">
          The payment is encrypted and transmitted securely with an SSL protocol
       </p>
       <img src="{% static './images/razorpay.png'%}" class="footerlogo">
 
     </div>
 
   </div>

 
   </div>
   

   <div class="rights">
  <h3 class="right"> All right reserved</h3>
  </div>
  
</footer><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave">
    <path fill="#c72d0a" fill-opacity="1" d="M0,224L48,240C96,256,192,288,288,298.7C384,309,480,299,576,282.7C672,267,768,245,864,245.3C960,245,1056,267,1152,261.3C1248,256,1344,224,1392,208L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script  src="{%static 'js/wow.min.js'%}"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>	

<script>
  $(document).ready(function(){
  "use strict";
  
  //------- Initialising Slick Slider
  $('.item-slider').slick({
    autoplay: true,
        autoplaySpeed: 2000,
        speed: 600,
        arrows: false,
        draggable: true,
        infinite: true,
   
        slidesToShow: 4,
        slidesToScroll: 1,
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3
      }
    },
    {
      breakpoint: 900,
      settings: {
        slidesToShow: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1
      }
    }
  ]
  });
  
  //------- Custom Arrows click functionality
  $(document).on('click', '.prevSlide', function(){
    $('.item-slider').slick('slickPrev');
  });
  
  $(document).on('click', '.nextSlide', function(){
    $('.item-slider').slick('slickNext');
  });
  
  //------- Click to filter slides according to user's choice
  
 
  
});

</script>
<script>
  new WOW().init();
  </script>
</footer> 