* {
	box-sizing: border-box;
    padding: none;
    
    
}
#slider {
	position: relative;
	width: 100%;
	overflow: hidden;
    top: -80px;
}

#slider #line {
	height: 5px;
	background: rgba(0,0,0,0.5);
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
}

#slider #dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 16px;
	display: flex;
	justify-content: center;
}

#slider #dots li {
	transition: 0.3s;
	list-style-type: none;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: rgba(0,0,0,0.5);
	margin: 0 0.25em;
	cursor: pointer;
}

#slider #dots li:hover,
#slider #dots li.active {
	background: white;
}

@keyframes line {

	0% {width: 0%;}
	100% {width: 100%;}

}

#slider #back,
#slider #forword {
	width: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: white;
	font-weight: 700;
    font-size: 2rem;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
}

#slider #forword {
	left: auto;
	right: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=1 );
}

#slider:hover #back,
#slider:hover #forword {
	opacity: 0.7;
}

ul#move {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	background: gray;
	margin-right: 100%;
}


ul#move li {
	transition: 0.6s;
	min-width: 100%;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul#move li img {
	
    width: 1574px;
    height: 500px;
}

ul#move li:nth-child(1) {
	background: #657765;
}

ul#move li:nth-child(2) {
	background: #456174;
}

ul#move li:nth-child(3) {
	background: #984;
}

ul#move li:nth-child(4) {
	background: #445566;
}

ul#move li:nth-child(5) {
	background: #744674;
}

*::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }
body{
    overflow-x: hidden;
    background-color: #000;
    margin: 0;
    padding: 0;
}

header{
   
    background: url(./images/header3.png) no-repeat center center;
    
    top: -162px;
    height: 413px;
    position: relative;

}
.destination-head{
  font-size: 50px;
  position: relative;
  font-family: 'Poppins';
  align-items: center;
  text-align: center;
  top: 200px;
  color: #fff;
}
.explore-dest{
  font-size: 30px;
  position: relative;
  align-items: center;
  text-align: center;
  top: 11px;
  font-weight: 200;
  color: #fff;
  font-family: 'Poppins';
}
.container-search {
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 186px;
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}


footer{
  
 
  position: relative;
}
.footer-col{
  padding: 10px 50px;
  position: relative;
  left: -139px;
}

.contact-info{
  padding: 10px;
  position: relative;
  left: -139px;
}

.col-heading{
  font-size: 20px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
}

.about-us-para{
  width: 230px;
  font-size: 15px;
  font-family: 'Montserrat';
  color: #fff;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 50px;
  position: relative;
  bottom: 9px;
}
.icons{
  height: 50px;
  width: 50px;
  color: #fff;
  position: relative;

}
.icon{
  height: 50px;
  width: 50px;
  color: #fff;
 
}
.links{
  text-decoration: none;
  width: 180px;
  font-size: 15px;
  font-family: 'Montserrat';
  color: #fff;
  font-weight: 400;
  line-height: 60px;
  list-style: none;
  
}
.link-head{
  text-decoration: none;
  color: #fff;
  position: relative;
 
  
  padding: 16px 0px;
  bottom: 20px;

}
.contacts{
text-decoration: none;
list-style: none;
}
.mail{
  color: #ccc;
  position: relative;
 
  text-decoration: none;

}
.phone{
  color: #ccc;
  position: relative;
 
  text-decoration: none;
}
.rights{
  background-color: rgb(0, 0, 0);
  width: 1540px;
  height: 81px;
  position: relative;
  
  color: #fff;
  font-family: 'Montserrat';
  text-align: center;
  padding: 33px;
  
}
.right{
  font-size: 18px;
}
.footerlogo{
  height: 52px;
  width: 281px;
  position: relative;
  bottom: 44px;
}
.trip-name{
    font-size: 50px;
    font-family: 'Poppins';
    color: #fff;
    position: relative;
    top: -377px;
    left: 679px;
    
}
footer{
  
  
  position: relative;
  width: 1565px;

}
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:1000;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 480px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

* {
	box-sizing: border-box;
    padding: none;
    
}



.secondnav{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    /* left: 200px; */
    top: -132px;
    position: relative;
}
.detail-link{
    padding: 20px;
   color: #fff;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 400;
   position:relative;
   left: 205px;
}
.detail-link:hover{
    padding: 20px;
   color: #fff;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 400;
   position:relative;
   left:205px;
  
   text-decoration: none;
   border-bottom: 1px solid #193555;
}
.photos-link{
    padding: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    position:relative;
    left:200px;
    
}
.photos-link:hover{
    padding: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    position:relative;
    left:200px;
    
    text-decoration: none;
    border-bottom: 1px solid #193555
}
.itinerary-link{
    padding: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    position:relative;
    left:200px;
    
    
}
.itinerary-link:hover{
    padding: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    position:relative;
    left:200px;
    
    text-decoration: none;
    border-bottom: 1px solid #193555
}
.reviews-link{
    padding: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    position:relative;
    left:200px;
    
}
.reviews-link:hover{
    padding: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    position:relative;
    left:200px;
    
    text-decoration: none;
    border-bottom: 1px solid #193555
}


header{
    background: url(./images/header3.png) no-repeat center center;
    background-size: cover;
    

    height: 323px;
}

a{
    text-decoration: none;
}
a:hover,
a:visited
{
    text-decoration: none;
    border: none;
}
.navbar{

  align-items: center;
  left: 250px;
  background: transparent;
  z-index: 200;
}
.img{
    height: 500px;
}
.nav-link:hover,
.nav-link:active{
    color: #fff;
    border-bottom: 2px solid #0466E5;
}
.navbar{
   

    color: #fff;
    background: transparent;
}
.navbar.fixedbar{
    background-color: rgba(255, 255, 255, 0.693);
    height: 70px;
    width: 100%;
    left: 0px;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    position: fixed !important;
    color: #fff;
    padding-left: 251px
}
.navbar-nav.fixedbar{
   margin-top: 30px;
}
.call-button{
    left: 50px;
    top: 20px;
    position: relative;
}

.call{
    color: #6b6a6a;
    text-decoration: none;
    font-family: 'Poppins';
    
}
.call-icon{
    margin-right: 10px;
}
.mail-button{
    left: 197px;
    top: 19px;
    position: absolute;
    display: inline;
}
.image-trip img{
    width: 750px;
    height: 407px;
    size: cover;
    left: 200px;
    position: relative;
    top: 100px;
}

.star{
    position: relative;
    color: yellow;
    
    top: 137px;
    left: 203px;
    margin-right: 10px;
    height: 23px;
    width: 11px;

}
.trip-overview{
    
    width: 1106px;
    height: 107px;
    left: 233px;
    position: relative;
    top: 130px;
    border-bottom: 1px solid rgb(112, 112, 112);
    
}
.email{
    color: #6b6a6a;
    text-decoration: none;
    font-family: 'Poppins';
    
}
.social{
    text-decoration: none;
    list-style: none;
    float: right;
    right: 41px;
    position: relative;
    top: -5px;

    
}
.socialicon{
    color: #6b6a6a;
    padding: 10px 10px;
}

.social-icons{
    color: #6b6a6a;
    display: inline;
    float: right;
}
.trip-desc{
    width: 750px;
    position: relative;
    left: 200px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: -100px;
    
}
a:hover{
    text-decoration: none;
    border: none;
}
.checkout{
    background: linear-gradient(#5f5f5f,#5f5f5f66), url(./images/testimonial-bg-1.jpg);
    background-size:cover ;
    height: 903px;
    border-radius: 5px;
    width: 366px;
    /* border: 1px solid; */
    
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    z-index: 2;
    position: relative;
    float: right;
    right: 130px;
    top: 402px;
    
}
.checkout-price{
    position: relative;
    font-family: 'Poppins';
    
    font-size: 30px;
    color: #000;
    top: 29px;
    left: 32px;


}

.trip-details{
    width: 750px;
    position: relative;
    left: 200px;
  
    border-bottom: 1px solid #ccc;
    top: 165px;

}
.trip-details-photos{
    width: 750px;
    position: relative;
    left: 200px;
  
    border-bottom: 1px solid #ccc;
    top: 75px;
}

.trip-details h3{
position: relative;
margin-top: 50px;
margin-bottom: 50px;
color: #fff;
font-family: 'Poppins';
font-size: 18px;
top: -11px;
}
.trip-det{
    position: relative;
    left: 345px;
    top: -66px;
    margin-top: -12px;
    margin-bottom: -32px;
    font-family: 'Montserrat';
    font-size: 18px;
}
.expect{
    position: relative;
    font-family: 'Montserrat';
    margin-top: -12px;
    margin-bottom: -32px;
    position: relative;
    font-family: 'Montserrat';
    margin-top: -11px;
    margin-bottom: 57px;
    line-height: 1.5;
    
}
.list{
    margin-top: -28px;
    margin-bottom: 54px;
    font-family: 'Montserrat';
    left: 20px;
    position: relative;

}
#main, #thumbnails img {
    box-shadow: 2px 2px 10px 5px #b8b8b8;
    border-radius: 10px;
   
  }
  
  * {
    transition: all 0.5s ease;
  }
  
  #thumbnails {
    text-align: center;
  }
  #thumbnails img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 480px) {
    #thumbnails img {
      width: 50px;
      height: 50px;
    }
  }
  #thumbnails img:hover {
    transform: scale(1.05);
  }
  
  #main {
    width: 90%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    
  }
  .secondnav{
    color: #fff;
    background: transparent;
}
.col3{
    font-family: 'Montserrat';
    position: relative;
    top: -38px;
    left: 33px;
    font-size: 18px;
    
}
.secondnav.fixedbar{
    background-color: #fff;
    height: 70px;
    width: 100%;
    left: 0px;
    align-items: center;
    top: 0px;
    z-index: 1;
    
    margin-top: 1px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    position: fixed !important;
    color: #fff;
    
}
  .photos{
    font-size: 30px;
    position: relative;
margin-top: 50px;
margin-bottom: 50px;
color: #fff;
font-family: 'Poppins';

top: -11px;

  }
  @media only screen and (max-width: 480px) {
    #main {
      width: 100%;
    }
  }
  
  .hidden {
    opacity: 0;
  }
  .whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:1000;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
.lists{
    position: relative;
    left: 22px;
    top: -46px;
    margin-top: 61px;
    margin-bottom: -35px;
    font-family: 'Montserrat';
    font-size: 18px;
}
.lists2{
    position: relative;
    left: 405px;
    top: -332px;
    margin-top: 61px;
    margin-bottom: -35px;
    font-family: 'Montserrat';
    font-size: 18px;
}
.exclude{
    left: 405px;
    position: relative;
    top: -298px;
    position: relative;

color: #fff;
font-family: 'Poppins';
font-size: 18px;

}
.acc{
    height: 432px;
}
.hi{
    height:357px ;
}
.para2{
    margin-bottom: 50px;
}
.trip-desc p{
    margin-top: 50px;
    color: #6a6a6a;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
}
.col img{
    width: 57px;
    height: 57px;
    position: relative;
    top: 7px;
}

.accordion {
    width: 801px;
    position: relative;
    top: 165px;
    left: 50%;
    left: 410px;
    margin-bottom: -32px;
    
    transform: translate(-50%, -50%);
}
p{
    font-size: 18px;
}
.collapsible__header{
    font-family: 'Poppins';
    font-size: 20px;
}
.days{
    color: #c72d0a;
}
.accordion__collapsible {
    
    border-radius: 3px;
    margin-bottom: 15px;
}

.accordion__collapsible:not(:last-child) {
    border-bottom: none;
}

.collapsible__header {
    background-color:#000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}



.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s, opacity 1s;
}

.collapsible--open .collapsible__header::after {
  
}

.collapsible--open .collapsible__content {
    max-height: 200px;
    opacity: 1;
}



/* Content styles - To make inner content look better */
.collapsible__header p {
    font-size: 18px;
}

.collapsible__content p {
    margin: 10px;
    font-size: 14px;
    font-family: 'Montserrat';
    line-height: 1.5;
}
.img1 img,
.img2 img{
    width: 346px;
    height: 279px; margin-top: 10px;}
.img1,
.img2{
    margin-bottom: 100px;
}
.relatedplace{
    position: relative;
    font-size: 20px;
    font-family: 'Poppins';
    top: 20px;
}
.star2{
    position: relative;
    color: yellow;
    top: 30px;
    margin-bottom: 100px;
}
.price{
    position: relative;
    left: 272px;
    top: -100px;
    font-family: 'Poppins';
}
.review{
    position: relative;
    top: -85px;
    left: 133px;
    font-family: 'Montserrat';
}
.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -40px;
}
.star3{
    position: relative;
    color: yellow;
    top: -100px;
    left: 134px;
}
.user-name{
    position: relative;
    font-family: 'Poppins';
    font-size: 20px;
    left: 130px;
    top: -128px;;
}
.comments{
    position: relative;
    font-style: italic;
    font-family: 'Poppins';
    padding: 10px;
    top: 15px;
    left: 17px;
    color: #fff;
}

.footer-col{
    padding: 10px 50px;
    position: relative;
    left: -139px;
}

.contact-info{
    padding: 10px;
    position: relative;
    left: -139px;
}

.col-heading{
    font-size: 20px;
    font-family: 'Poppins';
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
}

.about-us-para{
    width: 230px;
    font-size: 15px;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 50px;
    position: relative;
    bottom: 9px;
}
.icons{
    height: 50px;
    width: 50px;
    color: #fff;
    position: relative;
  
}
.icon{
    height: 50px;
    width: 50px;
    color: #fff;
   
}
.links{
    text-decoration: none;
    width: 180px;
    font-size: 15px;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 400;
    line-height: 60px;
    list-style: none;
    
}
.link-head{
    text-decoration: none;
    color: #fff;
    position: relative;
   
    
    padding: 16px 0px;
    bottom: 20px;

}
.contacts{
  text-decoration: none;
  list-style: none;
}
.mail{
    color: #ccc;
    position: relative;
   
    text-decoration: none;

}
.phone{
    color: #ccc;
    position: relative;
   
    text-decoration: none;
}
.rights{
    background-color: rgb(0, 0, 0);
    width: 1550px;
    height: 81px;
    position: relative;
    top: 33px;
    color: #fff;
    font-family: 'Montserrat';
    text-align: center;
    padding: 33px;
    left: -8px;
}
.secondnav{
    color: #fff;
    background: transparent;
}
.col3{
    font-family: 'Montserrat';
    position: relative;
    top: -51px;
    left: 64px;
    font-size: 18px;
}
.secondnav.fixedbar{
    background-color: #fff;
    height: 70px;
    width: 100%;
    left: 0px;
    align-items: center;
    top: 0px;
    z-index: 1;
    
    margin-top: 1px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    position: fixed !important;
    color: #fff;
    
}
.navbar .icon{
   
        display: none;
      
}
footer{
    position: sticky;
}
.right{
    font-size: 18px;
}
.footerlogo{
    height: 52px;
    width: 281px;
    position: relative;
    bottom: 44px;
}

.trip-overall{
    position: relative;
    top: -245px;
    color: #fff;
}
.sidebar{
    position: relative;
    top: -200px;
}
.label-heads{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000;
    text-align: left;
    font-weight: 200;
    position: relative;
    margin-bottom: 10px;
    top: 37px;
    left: -55px;
}
.related{
    border-radius: 10px;
    height: 360px;
    width: 360px;
}
footer{
    
    left: -18px;
    position: relative;
    width: 1565px;
    top: 275px;

}
.alert {
    padding: 16px;
    background-color: #fff;
    color: #000;
    margin-bottom: 15px;
    width: 400px;
    height: 50px;
    position: relative;
    align-items: center;
    left: 569px;
  }
  
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
.tag{
    position: relative;
    top: 52px;
    height: 37px;
    left: 28px;
}
.oldprice{
    color: #acaaaa;
    font-family: 'Montserrat';
    font-size: 15px;
   
    position: relative;
    left: 88px;
    top: 33px;

    
}
.newprice{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
    position: relative;
    left: 24px;
    top: -105px;

}
.recenttours{
    top: -66px;
    position: relative;
}
.book{
    background-color: #5f5f5f;
    height: 443px;
    border-radius: 5px;
    width: 366px;
    /* border: 1px solid; */
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    z-index: 1;
    position: relative;
    top: 1383px;
   
    float: right;
    right: -237px;
   
}
.content{
    width: 90%; height: 600px;
    display: flex;
    align-items: center; justify-content: center;
}

.container2{
    
    width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    top: -76px;

}
#btns2{
    color: #ccc;
}
.calendar{
    position: relative;
    left: -115px;
    top: 56px;
    width: 30px;
}
.group{
    position: relative;
    width: 30px;
    left: -113px;
    top: 39px;
}
.bolt{
    position: relative;
    width: 30px;
    left: -113px;
    top: 35px;
}
#birthday{
    height: 47px;
    width: 204px;
    top: 17px;
    position: relative;
    left: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;

}
.line{
    position: relative;
    left: -113px;
    top: 30px;

}
.line2{
    position: relative;
    left: -113px;
    top: 15px;
}
#cars{
    height: 49px;
    width: 301px;
    top: 15px;
    position: relative;
    left: 16px;
    margin-top: 31px;
    color: #ccc;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}
.btn{
    
    height: 50px;
    font-family: 'Montserrat';
    border: none;
    width: 40%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    border-radius: 0%;
    margin-right: 20px;
    

}
button{
    border-radius: 0%;
}
.nav{
    width: 100%;
    height: 69px;
    margin-top: 20px;
    
    border: none;
    display: inline-flex;
    align-items: center;
   
    padding: 10px -24px;
}
.availableseats{
    position: relative;
    font-family: 'Montserrat';
    font-size: 15px;
    top: 10px;
    color: #6a6a6a;
}
.btn{
    
    font-size: 30px;
    margin: 15px;
    left: 37px;

   font-family: 'League Spartan';
   /* background: #193555; */
   position: relative;
    font-weight: 700; color: black;
}
#signUp{
    display: none;
    flex-direction: column;
    transition: 0.2s linear;
    position: absolute;
}
.btn1{
    background-color: white;
}
#login{
    display: flex;
    flex-direction: column;
    transition: 0.2s linear;
    position: absolute;
}
.main{
    height: 350px; width: 100%;
    display: flex; align-items: center; justify-content: space-evenly;
}
.loginClass, .signupClass{
    width: 350px;
    top: 92px;
    display: flex; align-items: center; justify-content: center;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 300px; outline: none; height: 50px; border: none;
    border: 1px solid #ccc; font-size: 15px;padding: 20px 20px; border-radius: 5px;
    color: #000;
    margin-left: 30px;top: 30px; position: relative;
}
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder{
    color: #cdb4db;
}
.label-heads1{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000;
    text-align: left;
    font-weight: 200;
    position: relative;
    margin-bottom: 10px;
    top: 30px;
    left: -67px;
}
.label-heads2{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000;
    top: 30px;
    text-align: left;
    font-weight: 200;
    position: relative;
    margin-bottom: 10px;
    left: -47px;
}
.mode{
    font-family: 'Poppins';
    font-size: 15px;
    color: #000;
    float: left;
    padding: 20px
}
.panda{
       background: #000;
    height: 428px;
    padding: 5px;
    position: relative;
    top: 239px;
    left: 220px;
    display: inline-block;

}
.columns{
    display:block;
    margin-bottom:4vh;
    background-color:#193555;
    border-radius: 10px;
    }
    
    .columns section{
    padding:1rem;
    }
    
    .columns .title{
    background-color:var(--yellow);
    color:var(--white);
    padding:1rem;
    text-align:left;
    font-size: 20px;
    
    width:100%;
    display:block;
    transition:0.2s;
    border-left:0px solid var(--dark);
    }
    
    .columns:hover > .title{
    border-left:5px solid var(--dark);
    }
    
    .columns .title a{
    float:right;
    }
    
   
    
    .marquee2 {
    position: relative;
    overflow:hidden;
    line-height:1.6em;
    }
    
    .marquee2 p{
    border-bottom:1px solid rgba(255, 253, 253, 0.1);
    position:relative;
    padding:0.4rem 0;
    margin-bottom: 10px;
    }
    
    .marquee2 p:before{
    content:"\f10d";
    font-family:"FontAwesome";
    margin-right:5px;
    position:relative;
    top:-5px;
    }
.mode-price{
    float: right;
    font-family: 'Poppins';
    font-size: 15px;
    color: #000;
    padding: 20px;
}
.label-heads3{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000;
    text-align: left;
    font-weight: 200;
    position: relative;
        /* margin-bottom: 10px; */
        left: -49px;
        top: 35px;
}
.label-heads4{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000;
    text-align: left;
    font-weight: 200;
    position: relative;
   
    left: -67px;
    left: -24px;
    top: 34px;
}
#calendar2{
    width: 300px;
    height: 50px;
   
    top: 32px;
    position: relative;
    left: 17px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;

}
button{
     width: 300px; border: none;
    outline: none; cursor: pointer; height: 40px; color: black;
    font-weight: 400; font-size: 15px;
    font-family: 'Poppins';
}
.signBtn{
    margin-top: 10px;
}
.enquire{
    display: flex; width: 300px;
    justify-content: space-between; align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
#number{
    width: 300px;
    position: relative;
    left: 17px;
    padding: 10px;
    FONT-WEIGHT: 100;
    top: 51px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;

}
.subBtn{
    background-color: #193555;
    color: #fff;
    position: relative;
    top: 58px;
    left: 21px;
    font-size: 15px;
    padding: -1px 44px;
    border-radius: 5px;
    height: 47px;
    width: 207px;
}
.subBtn:hover{
    background-color: #0f2034;
}
.submit{
    background-color: #e1e1e1;
    position: relative;
    top: 81px;
    left: 21px;
    padding: 10px 10px;
    border-radius: 5px;
    height: 47px;
    width: 207px;
}
.book{
    background-color: #5f5f5f;
    
}
.booking-heading{
    position: relative;
    color: #fff;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 32px 20px;
    top: 5px;
}
.booking-heading3{
    position: relative;
    color: #fff;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 32px 20px;
    top: 220px;
    left: 202px;
}
.booking-heading1{
    position: relative;
    color: #000;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 32px 20px;
    top: 5px;
}
.booking-icon{
    font-size: 15px;
    color: #133a67;
    margin-right: 13px;
    position: relative;
    left: 25px;
    top: 30px;
}
.booking-dets{
    width: 366px;
    position: relative;
      top: -39px;
      display: inline-block;

  
    border-bottom: 1px solid #ccc;
  
}
.label-heads5{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000;
    text-align: left;
    font-weight: 200;
    position: relative;
   
    left: -54px;
    top: 34px;
    margin-bottom: 16px;
}
.related{
    border-radius: 10px;
}
.heading{

    color: #fff;
    position: relative;
    font-size: 30px;
    color: #fff;
    position: relative;
    top: -95px;
    left: 20px;
}
.booking-dets h3{
    position: relative;
   margin-top: 30px;
    /* margin-bottom: 50px; */
    color: #fff;
    font-family: 'Poppins';
    font-size: 15px;
    top: -17px;
    left: 50px;}
.contactus h3{
    position: relative;
    top: -32px;
    left: 23px;
    font-size: 15px;
}
.contactus{

        background: linear-gradient(#3975ba62,#1935558d), url(./images/bg14.jpg) no-repeat center center;
       color: #fff;
        width: 366px;
        /* border: 1px solid; */
        box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
        z-index: 1;
        position: relative;    height: 251px;
        border-radius: 5px;
       
        float: right;
        left: 17px;
        top: 6px;
       
    
}
.contactus-heading{
    font-family: 'Poppins';
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
}
.contactus p{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 30px;
    margin-left: 20px;
}