@media only screen and (max-width:1428px) {
	
    .container4 {
        text-align: left;
        display: inline-block;
        height: 45px;
        left: -124px;
        position: relative;
    }
    .mmlogo{
        left: 93px;
        top: 10px;
    position: relative;
    }
    .slider-controls {
        margin-top: 30px;
        left: -67px;
        text-align: center;
        position: relative;
    }
	
}
@media only screen and (max-width:400px){
    header{
        height: 430px;
    }
    .heading1{
        left: 28px;
        font-size: 20px;
        position: relative;
    }
    .heading2{
        top: 270px;
    left: 28px;
    font-size: 20px;
    position: relative;
    }
    .mmlogo {
        width: 56px;
    height: 54px;   
     left: -22px;
    top: -5px;
    position: relative;

    }
    .search {
        background-color: #c72d0a;
        color: #fff;
        height: 36px;
        width: 169px;
        font-family: 'Poppins';
        font-size: 17px;
        border-radius: 10px;
        position: relative;
        top: -209px;
        left: 31px;
    }
} 