#nav {
	position: relative;
   ;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    height: 75px;
}
.call-button{
    left: 50px;
    top: 20px;
    position: relative;
	z-index: 100;
}

.call{
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';
	z-index: 100;
    
}
.call-icon{
    margin-right: 10px;
	z-index: 100;
}
.mail-button{
    left: 197px;
    top: 19px;
    position: absolute;
    display: inline;
	z-index: 100;
}

.email{
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';
	z-index: 100;
    
}
.social{
    text-decoration: none;
    list-style: none;
    float: right;
    right: 41px;
    position: relative;
    top: -5px;
z-index: 100;
    
}
.socialicon{
    color: #fff;
    padding: 10px 10px;
	z-index: 100;
}
#nav.fixedbar{
	background-color: #000;
    height: 70px;
    width: 100%;
    left: 0px;
	top: -2px;
    align-items: center;
    
    margin-bottom: 0px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    position: fixed !important;
    color: #373737;
}

.social-icons{
    color: #fff;
    display: inline;
    float: right;
	z-index: 100;
}

.contained {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
	padding-top:13px;
}
.mmlogo{
	width: 86px;
    
    height: 79px;
}
.mmlogo.fixedbar{
	width: 65px;
	height: 50px;
	position: relative;
    top: 14px;
    left: 20px;

}

#logo {
    display: inline-block;
    width: 172px;
	left: -137px;
    top: 3px;
    position: relative;

    margin-right: 30px;
    height: 45px;
		padding: 0 0 0 15px;
}

#logo h1 {
/*     background: url(../img/logo-autowatch.png) top left no-repeat; */
    background-size: contain;
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 45px;
}

#logo h1 a {
		text-decoration:none;
	font-weight:lighter;
    overflow: hidden;
    width: 100%;
    display: block;
		color:#fff;
}

.container4 {
    text-align: left;
    display: inline-block;
    height: 45px;
    position: relative;
}
#nav #menuWrapper {
	height: auto;
    display: block;
    position: relative;
    top: -14px;
    left: 208px;
    font-family: 'Poppins';
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
#nav ul > li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 34px;
	
}
.contained.fixedbar{
	top: -20px;
	position: relative;
}
.dropdown-items{
	background-color: #000;
    height: 300px;
}
#nav ul > li > a {
    display: block;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
		line-height:45px;
}
#nav .container4 ul > li > ul {
    position: absolute;
    left: -180px;
    opacity: 0;
    min-width:650px;
    margin: 0;
    pointer-events: none;
	/* Adding a transition timing on here will cause mouse out bugs after hover! */
}
.item1{
	position: relative;
	left: 40px;
}
.item2{
	position: relative;
	left: 240px;
	top: -300px;
}
.item3{
	position: relative;
	left: 440px;
	top: -600px;
}
.item4{
	background-color: #000;
    height: 50px;
	width: 600px;
	position: relative;
	top: -650px;
    left: 240px;
	text-align: center;
	font-size: 15px;
}
.nav-img{
	height: 170px;
	width: 170px;
	margin-top: 15px;
	border-radius: 10px;

}
.seeall{
    font-family: 'Montserrat';
    font-size: 12px;
}
.nav-dest{
	color: #fff;
	font-size: 15px;
	position: relative;
	top: -10px;
}
.nav-price{
	color: #fff;
	font-size: 12px;
	position: relative;
	top: -20px;
}
#nav .container4 ul > li > ul > li {
    padding: 0;
		
    float: left;
    display: block;
		width:100%;
}
#nav .container4 ul > li > ul > li > a {
    border-bottom: 0;
    display: block;
    padding: 0 5px;
    color: #fff;
    width: 90%;
    padding: 0 5%;
	text-transform:none;
}

/* Fade = no need for animations - just timing effects... */

.ddFade {
	 -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ddFadeFast {
	 -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ddFadeSlow {
	 -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* General Animation settings */#nav .container4 ul > li > ul {
	opacity:0;
	display:block;
	perspective:1000px;
	min-width:inherit;
	width:200px;
}
#nav .container4 ul > li > ul.dropin li {
	opacity:1;
	display:block;
	width:100%;
	background:#333;
	padding:3px;
	display:block;
	float: left;
}

li:hover ul.hov {
	animation-duration: 0.3s;
	animation-delay: 0.3s;
}

li:hover ul.hov li {
		animation-direction: normal;
		animation-iteration-count:1;
		animation-timing-function : ease-in-out;
		
		animation-fill-mode: forwards;
}

/* Drop In */#nav .container4 ul > li > ul.dropin li {opacity:0; transform: translate(0,-200px);}
li:hover .dropin li {animation-name: dropin;}
@keyframes dropin {
    0%   {opacity:0; transform: translate(0,-200px);}
    100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes dropin {
    0%   {opacity:0; transform: translate(0,-200px); }
    100% {opacity:1; transform: translate(0,0);}
}
li:hover ul.dropin.hov li:nth-child(1) {
	animation-duration:0.7s;
	animation-delay: 2s;
}
li:hover ul.dropin.hov li:nth-child(2) {
	animation-duration:0.6s;
	animation-delay: 1.5s;
}
li:hover ul.dropin.hov li:nth-child(3) {
	animation-duration: 0.5s;
	animation-delay: 1s;
}
li:hover ul.dropin.hov li:nth-child(4) {
animation-duration: 0.4s;
	animation-delay: 0.5s;
}
li:hover ul.dropin.hov li:nth-child(5) {

	animation-duration: 0.3s;
	animation-delay: 0.3s;
}

/* Drop Up */#nav .container4 ul > li > ul.dropup li {opacity:0; transform: translate(0,200px);}
li:hover .dropup li {animation-name: dropup;}
@keyframes dropup {
    0%   {opacity:0; transform: translate(0,200px);}
    100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes dropup {
    0%   {opacity:0; transform: translate(0,200px); }
    100% {opacity:1; transform: translate(0,0);}
}
li:hover ul.dropup.hov li:nth-child(1) {
	animation-duration: 0.3s;
	animation-delay: 0.3s;
}
li:hover ul.dropup.hov li:nth-child(2) {
	animation-duration: 0.4s;
	animation-delay: 0.5s;
}
li:hover ul.dropup.hov li:nth-child(3) {
	animation-duration: 0.5s;
	animation-delay: 1s;
}
li:hover ul.dropup.hov li:nth-child(4) {
	animation-duration:0.6s;
	animation-delay: 1.5s;
}
li:hover ul.dropup.hov li:nth-child(5) {
	animation-duration:0.7s;
	animation-delay: 2s;
}

/* Twist */#nav .container4 ul > li > ul.twist li {
	transform: rotateY(90deg) ;
}
li:hover ul.twist.hov li {
		animation-name: twist;
}
@keyframes twist {
    0%   {opacity:0;	transform: rotateY(90deg);}
    100% {opacity:1; transform:  rotateY(0);}
}
@-webkit-keyframes twist {
    0%   {opacity:0;transform:  rotateY(90deg); }
    100% {opacity:1; transform: rotateY(0);}
}
li:hover ul.twist.hov li:nth-child(1) {
	animation-duration: 0.3s;
	animation-delay: 0.3s;
}
li:hover ul.twist.hov li:nth-child(2) {
	animation-duration: 0.4s;
	animation-delay: 0.5s;
}
li:hover ul.twist.hov li:nth-child(3) {
	animation-duration: 0.5s;
	animation-delay: 1s;
}
li:hover ul.twist.hov li:nth-child(4) {
	animation-duration:0.6s;
	animation-delay: 1.5s;
}
li:hover ul.twist.hov li:nth-child(5) {
	animation-duration:0.7s;
	animation-delay: 2s;
}

/* Curl Right */#nav .container4 ul > li > ul.curl li {
	opacity:1;
	transform: translateX(-200px) rotate(-90deg);
}
li:hover ul.curl.hov li { animation-name: curl; }
@keyframes curl {
    0%   {opacity:0;	transform: translateX(-50%) rotate(-90deg);}
    100% {opacity:1;transform: translateX(0) rotate(0deg);}
}
@-webkit-keyframes curl {
    0%   {opacity:0;	transform: translateX(-50%) rotate(-90deg); }
    100% {opacity:1;transform: translateX(0) rotate(0);}
}
li:hover ul.curl.hov li:nth-child(1) {
	animation-duration: 0.3s;
	animation-delay: 0.3s;
}
li:hover ul.curl.hov li:nth-child(2) {
	animation-duration: 0.4s;
	animation-delay: 0.5s;
}
li:hover ul.curl.hov li:nth-child(3) {
	animation-duration: 0.5s;
	animation-delay: 1s;
}
li:hover ul.curl.hov li:nth-child(4) {
	animation-duration:0.6s;
	animation-delay: 1.5s;
}
li:hover ul.curl.hov li:nth-child(5) {
	animation-duration:0.7s;
	animation-delay: 2s;
}

/* Curl Left */#nav .container4 ul > li > ul.curlGoofy li {
	opacity:1;
	transform: translateX(200px) rotate(90deg);
}
li:hover ul.curlGoofy.hov li { animation-name: curlGoofy; }
@keyframes curlGoofy {
    0%   {opacity:0;	transform: translateX(50%) rotate(90deg);}
    100% {opacity:1;transform: translateX(0) rotate(0deg);}
}
@-webkit-keyframes curlGoofy {
    0%   {opacity:0;	transform: translateX(50%) rotate(90deg); }
    100% {opacity:1;transform: translateX(0) rotate(0);}
}
li:hover ul.curlGoofy.hov li:nth-child(1) {
	animation-duration: 0.3s;
	animation-delay: 0.3s;
}
li:hover ul.curlGoofy.hov li:nth-child(2) {
	animation-duration: 0.4s;
	animation-delay: 0.5s;
}
li:hover ul.curlGoofy.hov li:nth-child(3) {
	animation-duration: 0.5s;
	animation-delay: 1s;
}
li:hover ul.curlGoofy.hov li:nth-child(4) {
	animation-duration:0.6s;
	animation-delay: 1.5s;
}
li:hover ul.curlGoofy.hov li:nth-child(5) {
	animation-duration:0.7s;
	animation-delay: 2s;
}

/* Swing In right */#nav .container4 ul > li > ul.swing { 
	transform: translate(-50px,0) rotateY(-90deg); 
}
li:hover ul.swing.hov {
	animation-name: swing;
	animation-fill-mode: forwards;
}
@keyframes swing {
    0%   {opacity:0; transform: translate(-50px,0) rotateY(-90deg);}
    100% {opacity:1; transform: translate(0,0) rotateY(0);}
}
@-webkit-keyframes swing {
    0%   {opacity:0; transform: translate(-50px,0) rotateY(-90deg); }
    100% {opacity:1; transform: translate(0,0) rotateY(0);}
}

/* Swing In Left */#nav .container4 ul > li > ul.swingLft { 
	transform: translate(50px,0) rotateY(90deg); 
}
li:hover ul.swingLft.hov {
	animation-name: swingLft;
	animation-fill-mode: forwards;
}
@keyframes swingLft {
    0%   {opacity:0; transform: translate(50px,0) rotateY(90deg);}
    100% {opacity:1; transform: translate(0,0) rotateY(0);}
}
@-webkit-keyframes swingLft {
    0%   {opacity:0; transform: translate(50px,0) rotateY(-0deg); }
    100% {opacity:1; transform: translate(0,0) rotateY(0);}
}

/* sort all the overing, going on... */#nav ul li:hover a { 
	color: #fff;
	border-bottom: 2px solid #c72d0a;
}#nav .container4 ul > li:hover ul {
		opacity:1;
		top:24px;
		pointer-events: auto;
	}#nav .container4 ul > li > ul .ico:hover, #nav .container4 ul > li > ul a:hover { background-color: rgba(0,0,0,0.3); }#nav .container4 ul > li:hover ul { top :45px; }

/* A non image based mobile menu and close button */
#hamburger {
    display: none;
    width: 25px;
    height: 24px;
    position: fixed;
    right: 1450px;
    top: 15px;
    cursor: pointer;
}

#hamburger > span {
    background: #000;
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    margin-top: 3px;
    color: #fff;
			-webkit-transition:all .3s ease;
		-moz-transition:all .3s ease;
		-ms-transition:all .3s ease;
		-o-transition:all .3s ease;
		transition:all .3s ease;
}

#close {
    position: fixed;
    top: 10px;
    right: 1451px;
    width: 30px;
    height: 30px;
    z-index: 1200;
    display: none;
    cursor: pointer;
}

#close > span, #close > span::after {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#close > span::after {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#close:hover > span,
#close:hover > span::after { background: #ccc; }
#hamburger:hover > span,
#hamburger:hover > span::after,
#hamburger:hover > span::before {
	background: rgba(250,250,250,0.5);
}

/* Sort the responsive menu */
@media only screen and (max-width: 480px) {
	
#hamburger {
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

#close {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px);
	transform: translateX(50px);
	display: block;
}
	#nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1005;
	height: 50px;
	
	background-color: transparent;
}
#nav ul {
	display: none;
	opacity: 0;
}
#nav ul > li {
	float: none;
	border-bottom: 1px solid #555;
	display: block;
	padding: 0;
}
#nav ul > li:last-child {
	border-bottom: none !important;
}
#nav ul > li:last-child {
	border-bottom: none;
}
#nav ul > li > a {
	display: block;
	text-align: left;
	padding: 10px 0;
	color: #ccc;
	width: 100%;
	margin: 0 auto;
	border-bottom: none;
	font-size: 1.2em;
}
#nav .container4 ul > li > ul {
	top: 0;
	padding: 2px 0;
}
#nav.showNav {
	background-color: #333;
	height: calc(100%);
}
#nav.showNav #menuWrapper {
	height: 300px;
	overflow-y: auto;
    left: -362px;
    font-size: 15px;
}
  .contained {
	padding-top: 5px;
}
#nav .contained {
	height: 50px;
}
#nav.showNav .contained {
	height: auto;
}
#nav.showNav .container4 {
	height: auto;
	float: left;
	display: block;
	width: 100%;
}
#nav.showNav ul {
	opacity: 1;
	display: block;
	position: static;
	padding: 0 5%;
	width: 100%;
	font-size: 0.8em;
}
#nav.showNav #hamburger {
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px);
	transform: translateX(50px);
}
#nav.showNav #close {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
#nav ul:first-child {	
	width:96%;
	padding: 0 2%;
	float: left;
	display:block;
}
	#nav ul li {
	display: block;
	clear: both;
	overflow: hidden;
	width:100%;
}

	
	/* reset all the sub nav animations and styles! */
#nav .container4 ul > li > ul > li{
		border: none !important;
		opacity:1 !important;
		display:block !important;
		transform: translate(0,0) rotate(0) !important;
		-webkit-animation: initial !important;
    animation-play: initial !important;
	}
	#nav .container4 ul > li > ul > li:hover,#nav .container4 ul > li:hover,#nav .container4 ul > li:hover a,#nav .container4 ul > li > ul .ico:hover {
	background-color: transparent;
	border-bottom: none;
	color: #fff;
}
#nav ul > li > a:hover {
	background-color: transparent;
	border-bottom: none;
}
	
}
#nav .container4 ul > li:hover ul {
    top: 56px;
}